* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  list-style: none;
}

body {
  margin: 0 auto;
  text-align: center;
}

div.flashCard {
    display: inline-block;
    margin: 1em;
    width: 22em;
    height: 16em;
    border: 1px solid black;
    margin-bottom: 10px;
    vertical-align: top;

}

h3 {
  margin: 0 auto;
  line-height: 2em;
}

h4,h5 {
  line-height: 1.2em
}


