* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  list-style: none;
}

body {
  margin: 0 auto;
  text-align: center;
}

div.flashCard {
    position: relative; 
    display: inline-block;
    margin: 1em;
    width: 22em;
    height: 16em;
    border: 1px solid black;
    margin-bottom: 10px;
    vertical-align: top;
}

input {
  text-align: center;
}

h3 {
  margin: 0 auto;
  line-height: 2em;
}

h4,h5 {
  line-height: 1.2em
}

input.newCardInput {
  width: 35em;
  margin: 1em auto;
  height:2em;
}


button.deleteBtn {
    position: absolute;
    top: -10px;
    right: -10px;
    color: #fff;
    border-radius: 100%;
    background-color: #d9534f;
    border-color: #d43f3a;
}



